@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    scrollbar-width: none;
}

body{
    background-color: #232323;
    font-size: 16px;
    line-height: 1.6;
}
html{
    scroll-behavior: smooth;
}

.logo{
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoText{
    background-color: #BB0001;
    background-image: linear-gradient(45deg, #6F2323 0%, #BB0001 50%, #efefef 100%);
    background-size: 100%;
    padding: 5px;
    margin: 0;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: none;
    font-size: 2rem;
    cursor: default;  
}

.navContainer{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navList{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
    justify-content: right;
}

.navItem{
    color: #efefef;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 900;
}

.navItem:hover{
    cursor: pointer;
}

.navLink{
    color: #efefef;
    border-radius: 5px;
    text-decoration: none;
}

#currentPage{
    color: #6F2323;
    border-radius: 5px;
}
.navLink:hover{
    color: #BB0001;
}

.backLink{
    background-color: transparent;
    color: #efefef;
    text-decoration: none;
    padding: 10px;
    margin-left: 1%;
}

.arrow {
    border: solid #efefef;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    background-color: transparent;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.presentationContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px 10% 0 10%;
}

.presentationTitle{
    color: #efefef;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.presentation{
    width: 1000px; 
    height: 605px; 
}

.projectContainer{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin: 20px 5% 0 5%;
}

.projectMain{
    width:69%;
    height: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    color: #efefef;
}

.seperation{
    width: 3px;
    background-color: #6F2323;
    z-index: 999;
}

.projectSide{
    color: #cdcdcd;
    width: 29%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.mainh1{
    background-color: transparent;
    text-align: center;
    margin-top: 10px;
}

.mainh2{
    background-color: transparent;
    margin-top: 20px;
    padding: 20px;
}

.mainPar{
    background-color: transparent;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 1rem;
    text-align: justify;
}

.codeContainer{
    display: flex;
    flex-direction: column;
    background-color: #232323;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.codeTitleText{
    color: #efefef;
    font-weight: bold;
    margin: 10px;
}

pre{
    display: block;
    margin: 0;
    padding: 0;
}

code{
    height: 100%;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.mainImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.folderChart{
    width: 80%;
    height: auto;
    margin: 20px 0 0 0;
}

.imageTitle{
    color: #efefef;
    text-align: center;
    font-size: 1rem;
}

.sideBar{
    text-orientation: mixed;
    font-size: 1.5rem;
    margin: auto;
    background-color: transparent;
}

.sideBarPar{
    font-size: 0.9rem;
    text-align: justify;
    margin-top: 10px;
}

.subtitle{
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: left;
    text-decoration: underline;
}

.webTitle{
    font-size: 1.0rem;
    margin-top: 20px;
    text-align: left;
}
.sideBarLink{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sideBarImage{
    width: 80%;
    height: auto;
    margin-top: 10px;
    justify-content: center;
}

.sidebarImageTitle{
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5px;
}