*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    scrollbar-width: none;
}
body{
    background-color: #232323;
    font-size: 16px;
    line-height: 1.6;
}
.logo{
    padding: 10px 20px;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoText{
    background-color: #BB0001;
    background-image: linear-gradient(45deg, #6F2323 0%, #BB0001 50%, #efefef 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: none;
    font-size: 2.5rem;
    cursor: default;  
}

.navContainer{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navList{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
    justify-content: right;
}

.navItem{
    color: #efefef;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 900;
}

.navItem:hover{
    cursor: pointer;
}

.navLink{
    color: #efefef;
    border-radius: 5px;
    text-decoration: none;
}

#currentPage{
    color: #6F2323;
    border-radius: 5px;
}
.navLink:hover{
    color: #BB0001;
}

.backLink{
    background-color: transparent;
    color: #efefef;
    text-decoration: none;
    padding: 10px;
    margin-left: 1%;
}

.arrow {
    border: solid #efefef;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    background-color: transparent;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.presentationContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px 10% 0 10%;
}

.presentationTitle{
    color: #efefef;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.presentation{
    border-color: pink;
    width: 800px; 
    height: 484px; 
}

.projectContainer{
    background-color: #efefef;
    border-radius: 20px;
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 5% 0 5%;
}

.projectMain{
    width:70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: pink;
}

.seperation{
    height:100%;
    width: 3px;
    background-color: transparent;
    z-index: 999;
}

.projectSide{
    width: 30%;
    height: 100%;
    display: flex;
    background-color: brown;
}

h1{
    background-color: transparent;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

p{
    background-color: transparent;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
    text-align: justify;
}

/* .codeBlock{
    background-color: #232323;
    border-radius: 5px;
    margin: 10px 20px 0 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.codeTitleText{
    padding: 0;
    margin: 10px;
    height: 30px;
    color: #efefef;
}

.codePre {
    display: block;
    margin-top: 0;
    padding: 0;
}

/* code{
    height: 100%;
} */ 

.codeContainer{
    display: flex;
    flex-direction: column;
    background-color: #232323;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.codeTitleText{
    color: #efefef;
    font-weight: bold;
    margin: 10px;
}

pre{
    display: block;
    margin: 0;
    padding: 0;
}

code{
    height: 100%;
    width: 100%;
    border-radius: 0 0 5px 5px;
}